.Wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    
    

/*    overflow: hidden;
	background: url(../images/cartoonforest.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
        
        
}

.Message {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}


body{
    overflow: hidden;
}
html{
    overflow: hidden;
}

/*.bcolor{
    background-color: red;
    position: absolute; background: url('../images/walking-girl.png'); width: 10px; height: 20px;
}*/



